body {
  background-color: #333;
}

.header a {
  text-decoration: none;
  color: #f2f
}

.header {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}
