.maincontainer {
  display: flex;
  width: 100%;
}

.table1 {
  border: 2px solid black;
  border-radius: 5px;
  font-family: roboto, sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  margin: auto;
}

.table1 td {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  text-transform: lowercase;
}

.input input {
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  text-align: center;
  outline: none;
  font-family: roboto, sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 15px;
}

.input input:nth-child(1) {
  border: none;
}

/* #ftwo {
  background-color: #333;
  color: white;
} */